html,
body {
    height: 100%;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.page-container {
    padding: 24px 36px;
}

.page-content {
    background: #eee;
    padding: 16px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.pagination {
    justify-content: center;
    margin-top: 24px;
}

.next-button {
    padding: 0 8px;
}

.list-group-item {
    padding: .5rem 1.25rem;
}

.custom-list-group  {
    bottom: 16px;
}

.custom-list-group .list-group-name {
    font-weight: bold;
    margin-right: 8px;
}

.custom-list-group .list-group-item {
    padding: .2rem 1.25rem;
}

.custom-list-group .list-group-item.active {
    border-radius: 5px;
}
.custom-form label {
    min-width: 220px;
    font-weight: bold;
}
label[for="id_recruiter"] {
    visibility: hidden;
    line-height: 0;
}
label[for="id_recruiter"]:after {
    visibility: visible;
    display: block;
    content: 'Рекрутер:';
}
ul {
    padding: 0;
}

.custom-list li {
    padding: 8px;
}

.login-container {
    padding: 16px;
    margin-top: 24px;
}

.login-container h1 {
    margin-bottom: 24px;
}

.login-container .errorlist {
    list-style: none;
    padding: 0;
    color: red;
}

.login-container div.row{
    justify-content: center;
}

.login-container .centered {
    text-align: center;
}

.login-container label {
    display: block;
}

.login-container input {
    width: 100%;
}

.home-page {
    display: flex;
    justify-content: space-between;
}

.recruiter-page {

}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    text-decoration: underline;
}
.list-group-flush:last-child .list-group-item:last-child {
    border-bottom-width: 1px;
}