{% extends "base.html" %}
{% load static %}
{% block title %}Log-in{% endblock %}
{% block content %}

    <div class="container login-container">
        <div class="centered">
            <h1>Log In</h1>
            {% if form.errors %}
{#                <p>Вы ввели неверный логин или пароль. Попробуйте еще раз.</p>#}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-6 login-form-1">
                <form action="{% url 'login' %}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <p><input type="submit" value="Войти"></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}