{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Создать рекрутера
{% endblock %}

{% block content %}
    <div class="page-container">
        <div class="page-header">
            <h3>Создать рекрутера</h3>
            <a type="button" class="btn btn-primary" href="{% url 'recruiter:list' %}">К списку</a>
        </div>
        <div class="custom-form">
            <form action="" method="post">{% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.middle_name|as_crispy_field }}
                    </div>
                </div>

                <br>

                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.passport_id|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.slug|as_crispy_field }}
                    </div>
                </div>

                <br>

                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.area|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.region|as_crispy_field }}
                    </div>
                </div>

                <br>

                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.village|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6 mb-0">
                        {{ form.address|as_crispy_field }}
                    </div>
                </div>

                <br>

                <div class="form-row">
                    <div class="form-group col-md-6 mb-0">
                        {{ form.birthday|as_crispy_field }}
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}
