{% extends 'base.html' %}

{% block title %}
    Удалить рекрутера
{% endblock %}

{% block content %}
    <div class="page-container">
        <div class="page-header">
            <h1>Удалить рекрутера?</h1>
        </div>
        <form action="" method="post">{% csrf_token %}
            <p>Вы уверены что хотите удалить <a href="{% url 'recruiter:detail' object.slug %}">"{{ object.last_name }} {{ object.first_name }} {{ object.middle_name }}</a>"?</p>
            <p>При его удалении будут удалены все его рефералы и их информация!</p>
            <button class="btn btn-danger" type="submit">Удалить</button>
            <a href="{% url 'recruiter:detail' object.slug %}" class="btn btn-secondary ">Нет</a>
        </form>
    </div>
{% endblock %}