{% extends 'base.html' %}

{% block title %}
    {{ object.last_name }} {{ object.first_name }}
{% endblock %}

{% block content %}
    <div class="page-container">
    <div class="page-header">
        <h3>Реферал</h3>
        <a type="button" class="btn btn-primary" href="{% url 'referral:create' %}">Создать реферала</a>
    </div>
    <div class="page-header">
        <h4> {{ object.last_name }} {{ object.first_name }} {{ object.middle_name }}</h4>
        <a type="button" class="btn btn-primary" href="{% url 'referral:list' %}">К списку</a>
    </div>

    <div class="row">
        <div class="col-6">
            <ul class="list-group-flush custom-list-group">
                <li class="list-group-item active">ФИО: </li>
                <li class="list-group-item"><span class="list-group-name">Фамилия:</span>{{ object.last_name }}</li>
                <li class="list-group-item"><span class="list-group-name">Имя:</span>{{ object.first_name }}</li>
                <li class="list-group-item"><span class="list-group-name">Отчество:</span>{{ object.middle_name }}</li>
            </ul>


            <ul class="list-group-flush custom-list-group">
                <li class="list-group-item active"> Паспортные данные: </li>
                <li class="list-group-item"><span class="list-group-name">ID паспорта:</span>{{ object.passport_id }}</li>
                <li class="list-group-item"><span class="list-group-name">Персональный номер:</span>{{ object.slug }}</li>
            </ul>

            <ul class="list-group-flush custom-list-group">
                <li class="list-group-item active">Место прописки: </li>
                <li class="list-group-item"><span class="list-group-name">Город/Область:</span>{{ object.area }}</li>
                <li class="list-group-item"><span class="list-group-name">Район:</span>{{ object.region }}</li>
                {% if object.village %}
                    <li  class="list-group-item"><span class="list-group-name">Село:</span>{{ object.village }}</li>
                {% endif %}
                <li class="list-group-item"><span class="list-group-name">Адрес:</span>{{ object.address }}</li>
            </ul>

            <a type="button" class="btn btn-primary" href="{% url 'referral:update' object.slug %}">Изменить</a>
            <a type="button" class="btn btn-primary" href="{% url 'referral:delete' object.slug %}">Удалить</a>
        </div>

        <div class="col-6">
            <ul class="list-group-flush custom-list-group">
                <li class="list-group-item active">Список его рекрутеров:</li>
                <li class="list-group-item"><span class="list-group-name"></span><a href="{% url 'recruiter:detail' object.recruiter.slug %}">
                    {{ object.recruiter.last_name}} {{ object.recruiter.first_name }} {{ object.recruiter.middle_name }}</a></li>
            </ul>

                        <ul class="list-group-flush custom-list-group">
                <li class="list-group-item active">Статус:</li>
                <li class="list-group-item"><span class="list-group-name"></span>{{ object.status.title }}</li>
            </ul>
        </div>
{#        <div class="col-6">#}
{##}
{#        </div>#}
    </div>
{% endblock %}

