{% extends 'base.html' %}
{% block title %}
    Список рефералов
{% endblock %}
{% block content %}
    <div class="page-container">
        <div class="page-header">
            <h3>Рефералы</h3>
            <a type="button" class="btn btn-primary" href="{% url 'referral:create' %}">Создать реферала</a>
        </div>

        <ul class="list-group">
            {% for referral in referrals %}
                <li class="list-group-item"><a href="{% url 'referral:detail' referral.slug %}">{{ referral.last_name }} {{ referral.first_name }} {{ referral.middle_name }}</a></li>
            {% endfor %}
        </ul>

        <!----------------------- PAGINATION   ------------------->
        {% if is_paginated %}
            <nav>
                <ul class="pagination">
                {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="/referral/list/?page={{ page_obj.previous_page_number }}"> < </a>
                        </li>
                    {% endif %}
                    {% for i in page_obj.paginator.page_range %}
                        {% if page_obj.number == i %}
                            <li class="page-item active">
                                <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="/referral/list/?page={{ page_obj.next_page_number }}"> > </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}